<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <meta charset="UTF-8" />
    </head>
    <body>
        <div class="flex-grow-1 d-flex flex-column" th:fragment="center" xmlns:th="http://www.thymeleaf.org">
            <div class="mx-5 row justify-content-start flex-grow-1">
                <div class="my-3 h-100 col-3" th:each="comic : ${comics}">
                    <a class="card p-0 text-decoration-none" th:href="@{'/comic/' + ${comic.getId()}}">
                        <img class="card-img-top" th:src="@{images/comic.png}" alt="comic logo">
                        <div class="card-header">
                            <h5 class="card-title text-dark m-0" th:text="${comic.getTitle()}" ></h5>
                        </div>
                        <div class="card-body align-items-center">
                            <div class="card-link badge badge-pill badge-success m-0">
                                <span th:text="${comic.getStatus()}"></span>
                            </div>
                            <div class="card-link badge badge-pill badge-danger m-0">
                                <span>Subscribers : </span>
                                <span th:text="${comic.getSubNb()}"></span>
                            </div>
                            <div class="card-link badge badge-pill badge-info m-0">
                                <span>Issues : </span>
                                <span th:text="${comic.getIssues().size()}"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <nav class="align-self-center m-2" th:if="${totalPages > 1}">
                <ul class="pagination">
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item_disabled'} ">
                        <a class="page-link" th:href="@{'/' + ${1}}">First</a>
                    </li>
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item_disabled'} ">
                        <a class="page-link" th:href="@{'/' + ${currentPage - 1}}">Previous</a>
                    </li>
                    <th:block th:if="${totalPages <= numberDisplayPage}">
                    <li th:each="i: ${#numbers.sequence(1, totalPages)}" 
                        th:class="${currentPage != i ? 'page-item' : 'page-item_disabled'} ">
                        <a class="page-link" th:href="@{'/' + ${i}}">[[${i}]]</a>
                    </li>
                    </th:block>

                    <th:block th:if="${totalPages > numberDisplayPage}">

                        <th:block th:if="${currentPage <= numberDisplayPage / 2 || currentPage > (totalPages - numberDisplayPage / 2 ) - 1}">
                            <li th:each="i: ${#numbers.sequence(1, numberDisplayPage / 2)}" 
                                th:class="${currentPage != i ? 'page-item' : 'page-item_disabled'} ">
                                <a class="page-link" th:href="@{'/' + ${i}}">[[${i}]]</a>
                            </li>

                            <a class="page-link" th:href="@{'/' + ${(numberDisplayPage /2) +1}}">...</a>

                            <li th:each="i: ${#numbers.sequence(totalPages - ((numberDisplayPage / 2 ) - 1), totalPages)}" 
                            th:class="${currentPage != i ? 'page-item' : 'page-item_disabled'} ">
                                <a class="page-link" th:href="@{'/' + ${i}}">[[${i}]]</a>
                            </li>
                        </th:block>

                        <th:block th:if="${currentPage > numberDisplayPage / 2 && currentPage < (totalPages - numberDisplayPage / 2 )}">

                            <th:block th:if="${(currentPage - ((numberDisplayPage /2) +1)) > 0 }">
                                <a class="page-link" th:href="@{'/' + ${(currentPage - ((numberDisplayPage /2) +1))}}">...</a>
                            </th:block>

                            <li th:each="i: ${#numbers.sequence(currentPage - (numberDisplayPage / 2), currentPage + (numberDisplayPage / 2))}" 
                                th:class="${currentPage != i ? 'page-item' : 'page-item_disabled'} ">
                                <a class="page-link" th:href="@{'/' + ${i}}">[[${i}]]</a>
                            </li>

                            <a class="page-link" th:href="@{'/' + ${(currentPage + ((numberDisplayPage /2) +1))}}">...</a>

                        </th:block>
                    </th:block>

                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item_disabled'} ">
                        <a class="page-link" th:href="@{'/' + ${currentPage + 1}}">Next</a>
                    </li>

                    <li th:class="${currentPage < totalPages  ? 'page-item' : 'page-item_disabled'} ">
                        <a class="page-link" th:href="@{'/' + ${totalPages}}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>