<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <meta charset="UTF-8" />
    </head>
    <body>
        <div class="flex-grow-1 d-flex flex-column" th:fragment="center" xmlns:th="http://www.thymeleaf.org">
            <div class="row justify-content-center flex-grow-1">
                <div class="card m-2 col-3 h-100" th:each="comic : ${comics}">
                    <!-- <div class="card m-3"> -->
                        <div class="card-body">
                            <a class="card-title" th:text="${comic.toString()}" th:href="@{'/comic/' + ${comic.getId()}}"></a>
                            <br>
                            <p class="card-text badge badge-pill badge-info mb-0">genre 1</p>
                            <p class="card-text badge badge-pill badge-info mb-0">genre 2</p>
                            <p class="card-text badge badge-pill badge-info mb-0">genre 3</p>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
            <nav class="align-self-center">
                <ul class="pagination">
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item_disabled'} ">
                        <a class="page-link" th:href="@{'/' + ${1}}">First</a>
                    </li>
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item_disabled'} ">
                        <a class="page-link" th:href="@{'/' + ${currentPage - 1}}">Previous</a>
                    </li>
                    <th:block th:if="${totalPages <= numberDisplayPage}">
                    <li th:each="i: ${#numbers.sequence(1, totalPages)}" 
                        th:class="${currentPage != i ? 'page-item' : 'page-item_disabled'} ">
                        <a class="page-link" th:href="@{'/' + ${i}}">[[${i}]]</a>
                    </li>
                    </th:block>

                    <th:block th:if="${totalPages > numberDisplayPage}">

                        <th:block th:if="${currentPage <= numberDisplayPage / 2 || currentPage > (totalPages - numberDisplayPage / 2 ) - 1}">
                            <li th:each="i: ${#numbers.sequence(1, numberDisplayPage / 2)}" 
                                th:class="${currentPage != i ? 'page-item' : 'page-item_disabled'} ">
                                <a class="page-link" th:href="@{'/' + ${i}}">[[${i}]]</a>
                            </li>

                            <a class="page-link" th:href="@{'/' + ${(numberDisplayPage /2) +1}}">...</a>

                            <li th:each="i: ${#numbers.sequence(totalPages - ((numberDisplayPage / 2 ) - 1), totalPages)}" 
                            th:class="${currentPage != i ? 'page-item' : 'page-item_disabled'} ">
                                <a class="page-link" th:href="@{'/' + ${i}}">[[${i}]]</a>
                            </li>
                        </th:block>

                        <th:block th:if="${currentPage > numberDisplayPage / 2 && currentPage < (totalPages - numberDisplayPage / 2 )}">

                            <th:block th:if="${(currentPage - ((numberDisplayPage /2) +1)) > 0 }">
                                <a class="page-link" th:href="@{'/' + ${(currentPage - ((numberDisplayPage /2) +1))}}">...</a>
                            </th:block>

                            <li th:each="i: ${#numbers.sequence(currentPage - (numberDisplayPage / 2), currentPage + (numberDisplayPage / 2))}" 
                                th:class="${currentPage != i ? 'page-item' : 'page-item_disabled'} ">
                                <a class="page-link" th:href="@{'/' + ${i}}">[[${i}]]</a>
                            </li>

                            <a class="page-link" th:href="@{'/' + ${(currentPage + ((numberDisplayPage /2) +1))}}">...</a>

                        </th:block>
                    </th:block>

                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item_disabled'} ">
                        <a class="page-link" th:href="@{'/' + ${currentPage + 1}}">Next</a>
                    </li>

                    <li th:class="${currentPage < totalPages  ? 'page-item' : 'page-item_disabled'} ">
                        <a class="page-link" th:href="@{'/' + ${totalPages}}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>