<!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <meta charset="UTF-8" />
</head>
<body>
    <header th:fragment="header">
        <h1>HEADER</h1>
    </header>
    <div th:fragment="center">
        <h1>BODY</h1>
        <ul>
            <li th:each="comics : ${comics}" th:text="${comics.title}"></li>
        </ul>
    </div>
    <footer th:fragment="footer">
        <h1>FOOTER</h1>
    </footer>
</body>
</html>