<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <meta charset="UTF-8" />
    </head>
    <body>
        <!--<div th:fragment="center">

            <form th:action="@{/search}" method="get">
                  <input type="text" name="keyword" id="search_keyword" placeholder="Research here">
                  <button type="submit">Go</button>
            </form>
            <li th:each="comic : ${comics}" th:text="${comic.toString()}"></li>

        </div>-->


        <div th:fragment="centerF">
            <p>IIIII</p>
                  <input type="text" name="keyword" id="txtSearch" placeholder="Research here">

            <ul id="comicsList"></ul>

            <script th:inline="javascript">
                /*<![CDATA[*/
                    var comics = /*[[${comics}]]*/;
                /*]]>*/

                $('#txtSearch').on('keyup', function()
                {
                    var value = $(this).val();
                    console.log("Value = " + value);

                    var data = FilterFunction(value, comics);

                    if (value != '')
                        rebuildTable(data);
                    else
                        document.getElementById('comicList').innerHTML = '';
                });

                function FilterFunction(value, data)
                {
                    var filteredData = [];
                    for ( var i = 0; i<data.length; i++)
                    {
                        value = value.toLowerCase();

                        //var au = data[i].author.toLowerCase();
                        var ti = data[i].title.toLowerCase();

                        if (/*au.includes(value) ||*/ ti.includes(value))
                        {
                            filteredData.push(data[i])
                        }
                    }

                    return filteredData;
                }

                function rebuildTable(data)
                {
                    var table = document.getElementById('comicsList');
                    table.innerHTML = '';
                    for (var i = 0; i <data.length; i++)
                    {
                        var row = `<li>${data[i].toString()}</li>`
                        table.innerHTML += row;
                    }
                }
            </script>

        </div>

        <div th:fragment="center">
            <h1>Search Page test</h1>
            
            <form th:action="@{/search/1}" method="get">
                <input th:if="${keyword_search == null}" type="text" name="keyword" id="search_keyword" placeholder="Research here">
                <input th:unless="${keyword_search == null}"  type="text" name="keyword" id="search_keyword" placeholder="Research here" th:value="${keyword_search}">
                <button type="submit">Go</button>
            </form>
            <li th:each="comic : ${comics}" th:text="${comic.toString()}"></li>

            <nav>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item_disabled'} ">
                    <a th:if="${keyword_search != null}"th:href="@{'/search/' + ${1}(keyword = ${keyword_search})}">Début</a>
                    <a th:unless="${keyword_search != null}"th:href="@{'/search/' + ${1}}">Début</a>
                </li>

                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item_disabled'} ">
                    <a th:if="${keyword_search != null}"th:href="@{'/search/' + ${currentPage - 1}(keyword = ${keyword_search})}">Précédent</a>
                    <a th:unless="${keyword_search != null}"th:href="@{'/search/' + ${currentPage - 1}}">Précédent</a>
                </li>


                <th:block th:if="${totalPages <= numberDisplayPage}">
                    <li th:each="i: ${#numbers.sequence(1, totalPages)}" 
                        th:class="${currentPage != i ? 'page-item' : 'page-item_disabled'} ">
                        <a th:if="${keyword_search != null}"th:href="@{'/search/' + ${i}(keyword = ${keyword_search})}">[[${i}]]</a>
                        <a th:unless="${keyword_search != null}"th:href="@{'/search/' + ${i}}">[[${i}]]</a>
                    </li>
                </th:block>
                
                <th:block th:if="${totalPages > numberDisplayPage}">

                    <th:block th:if="${currentPage <= numberDisplayPage / 2 || currentPage > (totalPages - numberDisplayPage / 2 ) - 1}">
                        <li th:each="i: ${#numbers.sequence(1, numberDisplayPage / 2)}" 
                            th:class="${currentPage != i ? 'page-item' : 'page-item_disabled'} ">
                            <a th:if="${keyword_search != null}"th:href="@{'/search/' + ${i}(keyword = ${keyword_search})}">[[${i}]]</a>
                            <a th:unless="${keyword_search != null}"th:href="@{'/search/' + ${i}}">[[${i}]]</a>
                        </li>
                    
                        <a th:if="${keyword_search != null}"th:href="@{'/search/' + ${(numberDisplayPage /2) +1}(keyword = ${keyword_search})}">...</a>
                        <a th:unless="${keyword_search != null}"th:href="@{'/search/' + ${(numberDisplayPage /2) +1}}">...</a>
                    
                        <li th:each="i: ${#numbers.sequence(totalPages - ((numberDisplayPage / 2 ) - 1), totalPages)}" 
                        th:class="${currentPage != i ? 'page-item' : 'page-item_disabled'} ">
                        <a th:if="${keyword_search != null}"th:href="@{'/search/' + ${i}(keyword = ${keyword_search})}">[[${i}]]</a>
                        <a th:unless="${keyword_search != null}"th:href="@{'/search/' + ${i}}">[[${i}]]</a>
                        </li>
                    </th:block>

                    <th:block th:if="${currentPage > numberDisplayPage / 2 && currentPage < (totalPages - numberDisplayPage / 2 )}">

                        <th:block th:if="${(currentPage - ((numberDisplayPage /2) +1)) > 0 }">
                            <a th:if="${keyword_search != null}"th:href="@{'/search/' + ${(currentPage - ((numberDisplayPage /2) +1))}(keyword = ${keyword_search})}">...</a>
                            <a th:unless="${keyword_search != null}"th:href="@{'/search/' + ${(currentPage - ((numberDisplayPage /2) +1))}}">...</a>
                        </th:block>

                        <li th:each="i: ${#numbers.sequence(currentPage - (numberDisplayPage / 2), currentPage + (numberDisplayPage / 2))}" 
                            th:class="${currentPage != i ? 'page-item' : 'page-item_disabled'} ">
                            <a th:if="${keyword_search != null}"th:href="@{'/search/' + ${i}(keyword = ${keyword_search})}">[[${i}]]</a>
                            <a th:unless="${keyword_search != null}"th:href="@{'/search/' + ${i}}">[[${i}]]</a>
                        </li>

                        <a th:if="${keyword_search != null}"th:href="@{'/search/' + ${(currentPage + ((numberDisplayPage /2) +1))}(keyword = ${keyword_search})}">...</a>
                        <a th:unless="${keyword_search != null}"th:href="@{'/search/' + ${(currentPage + ((numberDisplayPage /2) +1))}}">...</a>

                    </th:block>
                </th:block>
            
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item_disabled'} ">
                    <a th:if="${keyword_search != null}"th:href="@{'/search/' + ${currentPage + 1}(keyword = ${keyword_search})}">Suivant</a>
                    <a th:unless="${keyword_search != null}"th:href="@{'/search/' + ${currentPage + 1}}">Suivant</a>
                </li>

                <li th:class="${currentPage < totalPages  ? 'page-item' : 'page-item_disabled'} ">
                    <a th:if="${keyword_search != null}"th:href="@{'/search/' + ${totalPages}(keyword = ${keyword_search})}">Fin</a>
                    <a th:unless="${keyword_search != null}"th:href="@{'/search/' + ${totalPages}}">Fin</a>
                </li>
            </nav>
        </div>
    </body>
</html>