<!-- Il existe deux type de fonctions avec les fragments:
   - replace, qui remplace le header par le fragment appelé
   - insert, qui ajoute en plus le fragment appelé

   plus d'infos sur:
   https://www.baeldung.com/spring-thymeleaf-fragments
-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head th:insert="fragments/index.html :: head">
      <title id="title"></title>
   </head>
   <body class="bg-darker d-flex flex-column" style="min-height: 100vh;">
      <header th:replace="fragments/index.html :: header"></header>
      <div class="flex-grow-1 d-flex flex-column container-fluid bg-body" th:insert="fragments/profile.html :: center"></div>
      <footer th:replace="fragments/index.html :: footer"></footer>
   </body>
</html>