<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/index.html :: head">
        <title id="title"></title>
    </head>
    <body class="bg-light d-flex flex-column" style="min-height: 100vh;">
        <div class="flex-grow-1 row justify-content-center w-100">
            <div class="col-6 align-self-center">
                <div class="card bg-dark text-white">
                    <img th:src="@{images/form_background.jpg}" class="background-opacity card-img" alt="form background">
                    <div class="d-flex align-content-center align-items-center justify-content-center card-img-overlay">
                        <div class="m-3">
                            <div class="card-title my-3">
                                <h1 class="h3 font-weight-normal text-capitalize text-center">sign up</h1>
                            </div>
                            <div class="card-subtitle text-center">
                                You already have an account ?<br>
                                <a class="badge bg-danger text-white text-decoration-none font-weight-bold" th:href="@{/login}">Log in !</a>
                            </div>
                        </div>
                        <form class="m-3" action="/register/confirmation" th:object="${user}" method="POST">
                            <div class="card-body py-1">
                                <div class="form-group mb-1">
                                    <label class="mb-0" for="firstName">First name</label>
                                    <input class="form-control" type='text' th:field="*{firstName}" id="firstName" placeholder="First name"/>
                                    <p th:each="error: ${#fields.errors('firstName')}" 
                                        th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group mb-1">
                                    <label class="mb-0" for="lastName">Last name</label>
                                    <input class="form-control" type='text' th:field="*{lastName}" id="lastName" placeholder="Last name"/>
                                    <p th:each="error : ${#fields.errors('lastName')}" 
                                        th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group mb-1">
                                    <label class="mb-0" for="email">Email</label>
                                    <input class="form-control" type='email' th:field="*{email}" id="email" placeholder="Email"/>
                                    <p th:each="error : ${#fields.errors('email')}" 
                                        th:text="${error}">Validation error</p>
                                <div class="form-group mb-1">
                                    <label class="mb-0" for="username">Username</label>
                                    <input class="form-control" type='text' th:field="*{username}" id="username" placeholder="Username"/>
                                    <p th:each="error : ${#fields.errors('username')}" 
                                        th:text="${error}">Validation error</p>
                                </div>
                                </div>
                                <div class="form-group mb-1">
                                    <label class="mb-0" for="password">Password</label>
                                    <input class="form-control" type='password' th:field="*{password}" id="password" placeholder="Password"/>
                                    <p th:each="error : ${#fields.errors('password')}" 
                                        th:text="${error}">Validation error</p>
                                </div>
                                <input class="btn btn-lg btn-danger float-right mt-2" name="submit" type="submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="card-img-overlay p-0 m-3" style="width: 5%; height: 5%;">
                        <a th:href="@{/}"><img class="w-100" th:src="@{images/home.svg}" alt="home"/></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>