        <!--
        <form action="/register/confirmation" th:object="${user}" class="container">

            <div class="formulaire">
            <h1>Register </h1>
            <div class="champs">
                <div>
                   
                    <input type="text" name="firstname" id="firstname" placeholder="First Name" required>
                </div>

                <div>
                    
                    <input type="text" name="lastname" id="lastname" placeholder="Last Name" required>
                </div>  

                <div>
                   
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>

                <div>
                   
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>

                <div>
                    
                    <input type="password" name="passwordconf" id="passwordconf" placeholder="Confirm Password" required>
                </div>            
            </div>

            <div class="bouton">
                <input type="submit" value="Register">
            </div>
            </div> 
        </form>-->
<!-- <html>
    <head></head>
    <body>
        <form action="/register/confirmation" th:object="${user}" method="POST">
            <div>
                <label >first</label>
                <input th:field="*{firstName}"/>
                <p th:each="error: ${#fields.errors('firstName')}" 
                  th:text="${error}">Validation error</p>
            </div>
            <div>
                <label >last</label>
                <input th:field="*{lastName}"/>
                <p th:each="error : ${#fields.errors('lastName')}" 
                  th:text="${error}">Validation error</p>
            </div>

            <div>
                <label >username</label>
                <input th:field="*{username}"/>
                <p th:each="error : ${#fields.errors('username')}" 
                  th:text="${error}">Validation error</p>
            </div>

            <div>
                <label >email</label>
                <input type="email" th:field="*{email}"/>
                <p th:each="error : ${#fields.errors('email')}" 
                  th:text="${error}">Validation error</p>
            </div>
            <div>
                <label >password</label>
                <input type="password" th:field="*{password}"/>
                <p th:each="error : ${#fields.errors('password')}" 
                  th:text="${error}">Validation error</p>
            </div>
            <div>
                <label>confirm</label>
                <input type="password" th:field="*{matchingPassword}"/>
            </div>
            <button type="submit" >submit</button>
        </form>
    </body>
</html> -->


<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/index.html :: head">
        <title id="title"></title>
    </head>
    <body class="bg-light d-flex flex-column" style="min-height: 100vh;">
        <div class="flex-grow-1 row justify-content-center w-100">
            <div class="col-6 align-self-center">
                <div class="card bg-dark text-white">
                    <img th:src="@{images/form_background.jpg}" class="background-opacity card-img" alt="form background">
                    <div class="d-flex align-content-center align-items-center justify-content-center card-img-overlay">
                        <div class="m-3">
                            <div class="card-title my-3">
                                <h1 class="h3 font-weight-normal text-capitalize text-center">sign up</h1>
                            </div>
                            <div class="card-subtitle text-center">
                                You already have an account ?<br>
                                <a class="badge bg-danger text-white text-decoration-none font-weight-bold" th:href="@{/login}">Log in !</a>
                            </div>
                        </div>
                        <form class="m-3" action="/register/confirmation" th:object="${user}" method="POST">
                            <div class="card-body py-1">
                                <div class="form-group mb-1">
                                    <label class="mb-0" for="email">Email</label>
                                    <input class="form-control" type='email' th:field="*{email}" id="email" placeholder="Email"/>
                                    <p th:each="error : ${#fields.errors('email')}" 
                                        th:text="${error}">Validation error</p>
                                <div class="form-group mb-1">
                                    <label class="mb-0" for="username">Username</label>
                                    <input class="form-control" type='text' th:field="*{username}" id="username" placeholder="Username"/>
                                    <p th:each="error : ${#fields.errors('username')}" 
                                        th:text="${error}">Validation error</p>
                                </div>
                                </div>
                                <div class="form-group mb-1">
                                    <label class="mb-0" for="password">Password</label>
                                    <input class="form-control" type='password' th:field="*{password}" id="password" placeholder="Password"/>
                                    <p th:each="error : ${#fields.errors('password')}" 
                                        th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group mb-1">
                                    <label class="mb-0" for="passwordconf">Password confirmation</label>
                                    <input class="form-control" type='password' th:field="*{matchingPassword}" id="passwordconf" placeholder="Confirm password" required/>
                                    <p th:each="error : ${#fields.errors('matchingPassword')}" 
                                        th:text="${error}">Validation error</p>
                                </div>
                                <input class="btn btn-lg btn-danger float-right mt-2" name="submit" type="submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="card-img-overlay p-0 m-3" style="width: 5%; height: 5%;">
                        <a th:href="@{/}"><img class="w-100" th:src="@{images/home.svg}" alt="home"/></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>